extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  main
    if prods.length
      .grid
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
              .card__image
                - var img = product.imageUrl
                - var alt = product.title
                img(src=img, alt=alt)
                .card__content
                  h2.product__price $#{product.price}
                  p.product__description  #{product.description}
                  .card__actions
                    - var link = '/products/' + product._id            
                    a.btn(href=link) Details
                    if isAuthenticated
                      include ../includes/add-to-cart.pug
    else
      h1  No products